body
{
	background-image: url(beatlesbackg.jpg);
	color: rgb(0,0,50);
	margin: 40px;
	background-attachment: fixed;
	background-position: center;
}

h1
{
	color: rgb(150,0,50);
	text-align: center;
}

p
{
	margin-left: 50px;
	text-align: justify;
}

table
{
	margin:auto;
	width: 800px;
	text-align: center;
	background-color: rgb(224,202,90);
	color: white;
}

img{height: 100px;}

img.cimkep
{
	height: 200px;
	border-top: 3px solid rgb(097,126,078);
	border-bottom: 3px solid rgb(141,87,63);
}

table, td, th {border: 2px solid white;}
td{width: 25%}


a
{
  color: rgb(31,128,147);
}