body
{
	background-image: url(sef.jpg);
	color: rgb(90, 81, 191);
	margin: 40px;
}

h1
{
	color: red;
	text-align: center;
}

p
{
	margin-left: 50px;
	text-align: justify;
}

table
{
	margin:auto;
	width: 800px;
	text-align: center;
	background-color: rgb(81, 173, 191);
	color: rgb(90, 81, 191);
}

img{height: 110px;}

img.cimkep
{
	height: 200px;
	border-top: 3px solid red;
	border-bottom: 1px solid red;
}

table, td, th {border: 2px solid rgb(90, 81, 191);}
td{width: 25%}

.mas
{
	font-family: "Times New Roman";
	font-style: italic;
}


