body
{
	background-color: rgb(220,230,250);
	color: rgb(0,0,50);
	margin: 40px;
	background-image: url(cloud.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: 2px solid white;
}

h2
{
	color: rgb(41,41,92);
	text-align: center;
}

p
{
	margin-left: 50px;
	text-align: center;
}

table
{
	margin:auto;
	width: 800px;
	text-align: center;
	background-color: rgb(137,207,240);
	color: white;
}

img{height: 100px;}


table, td, th {border: 2px solid white;}
td{width: 25%}


ul
{
	text-align: justify;
	text-align: center;
}

ol
{
	text-align: justify;
	text-align: center;
}

