body
{
	background-color: rgb(220,230,250);
	color: rgb(0,0,50);
	margin: 40px;
	background-image: url(cloud.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1200px 650px;
	border: 2px solid white;
}

h1
{
	color: rgb(150,0,50);
	text-align: center;
}

p
{
	margin-left: 50px;
	text-align: justify;
}

table
{
	margin:auto;
	width: 800px;
	text-align: center;
	background-color: rgb(137,207,240);
	color: white;
}

img{height: 100px;}

img.cimkep
{
	height: 500px;
	border-top: 3px solid rgb(30,80,120);
	border-bottom: 3px solid rgb(30,80,120);
}

table, td, th {border: 2px solid white;}
td{width: 25%}

.mas
{
	font-family: "Courier New";
	font-style: italic;
}