table
{
	margin:auto;
	width: 800px;
	text-align: center;
}

table, td, th {border: 2px hidden;}
td{width: 25%}

img
{
	height: 100px;
}

body
{
	background-image: url(backg.gif);
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
}