body
{
	background-image: url(hatter.jpg);
	background-attachment: fixed;
	color: lightgreen;
	border: 2px solid gray;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1
{
	text-align: center;
	color: gray;
}



ul
{
	list-style-image: url(nyil.png);
}

p
{
	margin: 10px;
	font-size: 120%;
	text-align: justify;
}

p.apro
{
	font-family: "calibri";
	font-size: 100%;
	color: gray;
}

#dolt
{font-style: italic}

img
{
	height: 100px;
}

table
{
	margin:auto;
	text-align: center;
}

a
{
  color: lightyellow;
}

