table
{
	margin:auto;
	width: 800px;
	text-align: center;
	background-color: (113, 138, 164);
	color: gray;
}

img
{
	height: 100px;
}

table, td, th
{
	border: 2px solid black;
}
td
{
	width: 25%;
}
body
{
	background-image: url(backg.jpg);
	background-attachment: fixed;
	color: gray;
}