table
{
	margin:auto;
	width: 800px;
	text-align: center;
	background-color: (113, 138, 164);
	color: white;
}

img
{
	height: 100px;
}

table, td, th
{
	border: 2px solid white;
}
td
{
	width: 25%;
}
